@*
 * Copyright (c) 2013 Citrix Systems, Inc. All Rights Reserved.
*@
@model IEnumerable<Citrix.SelfServiceDesktops.DesktopModel.IDesktop>

@{
    ViewBag.Title = "Manage Desktops";
}

<h2>Desktops for user "@ViewBag.User"</h2>
@using (Html.BeginForm("Index", "Manage", FormMethod.Get)) 
{
    <input type="submit" value="Refresh"/>
}
<table id="SSD-list">
    <tr>
        <th>Name</th>
        <th>IP Address</th>
        <th>State</th>
    </tr>
@foreach (var item in Model) {
    <div id = "@item.Id">
    <tr>
        <td>
            <a href="@ViewBag.ReceiverUrl">@item.Name</a>
        </td><td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td><td>
            @Html.DisplayFor(modelItem => item.State)
        </td><td>  
            @using (Html.BeginForm("Restart", "Manage", new { identifier = item.Id }, FormMethod.Post)) 
            {
                <input type="submit" value="Restart" @(Citrix.SelfServiceDesktops.DesktopModel.ValidTransitions.CanRestart(item.State)? "": "disabled=disabled") onclick="return confirmStateChange('@item.Name', 'restart');" />
            }
        </td><td>
            @using (Html.BeginForm("Start", "Manage", new { identifier = item.Id }, FormMethod.Post))
            {
                <input type="submit" value="Start" @(Citrix.SelfServiceDesktops.DesktopModel.ValidTransitions.CanStart(item.State) ? "" : "disabled=disabled")  onclick="return confirmStateChange('@item.Name', 'start');" />
            }
        </td><td>
            @using (Html.BeginForm("Stop", "Manage", new { identifier = item.Id }, FormMethod.Post))
            {
                <input type="submit" value="Stop" @(Citrix.SelfServiceDesktops.DesktopModel.ValidTransitions.CanStop(item.State)? "": "disabled=disabled;" ) onclick="return confirmStateChange('@item.Name', 'stop');" />
            }
        </td><td>
            @using (Html.BeginForm("Delete", "Manage", new { identifier = item.Id }, FormMethod.Post, new { id = "delete" + item.Name }))
            {
                <input id = "delete-@item.Name" value="Delete" name="submit" type="submit" @(Citrix.SelfServiceDesktops.DesktopModel.ValidTransitions.CanDelete(item.State)? "": "disabled=disabled;" )  onclick="return confirmDel('@item.Name');" />
            }
        </td>
    </tr>
    </div>
    }
</table>
<! >
<h4><a href="@ViewBag.ReceiverUrl" style="color:blue">Access your desktop console from Web Receiver</a> </h4>
<script type="text/javascript">
    function confirmStateChange(vmName, stateName) {
        return confirm('Are you sure you want to ' + stateName + ' VM ' +  vmName + ' ?');
    }
    function confirmDel(vmName) {
        var confirmText = prompt('WAIT! Delete cannot be undone, type DELETE to confirm you want to delete the VM ' +  vmName, "");
        if (confirmText != null && confirmText == 'DELETE') {
            return true;
        }
        return false;
    }
</script>