@*
 * Copyright (c) 2013 Citrix Systems, Inc. All Rights Reserved.
*@
@model IEnumerable<Citrix.SelfServiceDesktops.DesktopModel.IDesktopOffering>

@{
    ViewBag.Title = "Request Desktop";
}

<h2>Desktop Offerings</h2>

@using (Html.BeginForm())
{
 <fieldset>
  <legend>Select Your Desktop
</legend>
     <div class="table_style2">
<table>
@foreach (var item in Model)
{
<tr>
    
<td width ="10">@Html.RadioButton("serviceOfferingIdName", item.Name, item.Default)</td>

<td><div class="offering-label">@Html.DisplayFor(modelItem => item.Name)</div></td>
    
</tr>
<tr><div class="offering-description">
   <td width ="10" class="info"></td> 
<td class="info">
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <div id="@item.Name" class="ServiceOffering">
        <input name="HostnamePrefix" type="hidden" value="@item.HostnamePrefix">
        <input name="ServiceOfferingId" type="hidden" value="@item.ServiceOfferingId">
        <input name="Name" type="hidden" value="@item.Name">
        <input name="NetworkId" type="hidden" value="@item.NetworkId">
        <input name="TemplateId" type="hidden" value="@item.TemplateId">
        <input name="ZoneId" type="hidden" value="@item.ZoneId">
        </div>
</div>
</tr>
}
</table>
         </div>
<div class="offering-buttons">
<input type="submit" class="refresh"  value="Submit" name="button" />
<input type="submit" class="refresh"  value="Cancel" name="button"  />
</div>
</fieldset>
}